# HW 1: How do you handle duplicate values in a dataset in Python?

In [1]:
import numpy as np
import pandas as pd
import scipy

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt

In [4]:
# if in a numpy array
import numpy as np
a = np.array([1,2,3,3,4,5])
print(a)

# Your code

[1 2 3 3 4 5]

In [5]:
# if a dataframe
b = pd.DataFrame([[1,2,3,4,5],[1,2,3,4,5],[1,2,3,4,6]])
print(b)

# remove duplicates
# Your code

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  6

# HW 2: friend request

In [5]:
import pandas as pd

friend_request = pd.DataFrame(
    {"requester_id":[1001,1002,1003],
     "time":["2017-07-01","2017-07-02","2017-07-03"],
     "receiver_id":[3001,3002,3003]}
)

request_accepted = pd.DataFrame(
    {"requester_id":[1001,1003],
     "time":["2017-07-01","2017-07-04"],
     "acceptor_id":[3001,3003]}
)

print(friend_request)
print(request_accepted)

   receiver_id  requester_id        time
0         3001          1001  2017-07-01
1         3002          1002  2017-07-02
2         3003          1003  2017-07-03
   acceptor_id  requester_id        time
0         3001          1001  2017-07-01
1         3003          1003  2017-07-04

In [6]:
# sql
# Your code

In [7]:
# Python 
# Your code

# HW 3

In [27]:
def identify_issuer(card):
    """
    @input: card number
    @output: the corresponding issuer
    """
    issuer = 'Others'
    ###########
    # Your code
    
    
    ###########
    
    return issuer

In [28]:
lst = ['4175004175004172' 
,'4917491749174917'
,'346416800707698'
,'376416800707698' 
,'37641680070769832112'
,'36641680070769'
,'54545641680070769' 
]

for l in lst:
    print (l, identify_issuer(l))

4175004175004172 Others
4917491749174917 Others
346416800707698 Others
376416800707698 Others
37641680070769832112 Others
36641680070769 Others
54545641680070769 Others

# HW 4

In [29]:
# 
file_name = "BA501_python_data.csv"
my_data = pd.read_csv(file_name)
my_data.head(5)

,country,date,experiment_id,order_id,spend_usd,user_id,vertical
0,JP,20170402,12624548,5813140433216629693,16.138855,5006730028073359543,ANDROID_APPS
1,US,20170403,12624549,16333056276711034931,9.990000,5938685669571545259,ANDROID_APPS
2,JP,20170404,12624548,11227119161741298366,19.887087,17623708458399141713,ANDROID_APPS
3,US,20170403,12624548,11927299833124210932,19.990000,18042812344456618148,ANDROID_APPS
4,JP,20170403,12624549,11644727017708872749,88.220093,4325104700699531031,ANDROID_APPS

In [30]:
# Data cleaning
# Your code

In [31]:
# deal with date format

In [35]:
# Complete the following 3 functions

# function 1: for any given experiment_id, return a list group by date of total spend usd
def GetSeries(my_data, my_id):
    
    # filter my data with my experiment id, and then only choose date and spend_usd columns
    # your code
    
    
    # group by date and sum 
    # your code
    
    
    # return total spend usd series
    # your code
    
    
    

# function 2: for any two series, plot the time series
def PlotSeries(experiment_series, control_series):
    
    # draw experiment_series and control_series on the same plot
    # x axis is the date time series
    # y axis is the total spend
    # please give xlabel, ylabel and title
    
    # your code
    
    

# master function: 
def PrintDailyTimeSeries(my_data, experiment_ids):
    # make sure our x-axis is consistent
    # unique date
    
    
    # sort by date
    
    
    # sort my data by date in ascending way
    
    
    # get two series
    
    
    # plot

In [37]:
PrintDailyTimeSeries(my_data, [12624548,12624549])